
<h1>
Tiny App!
</h1>

<% if(user === undefined){ %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } else { %>
       <form action="/logout" method="POST" style="margin:150px;">
      <button>
       Logout
      </button>
    </form>
<%} %>

