<!DOCTYPE html>
<html lang="en">
<head>
  <title>Register</title>
</head>
<div><% include ./partials/_header %>
</div>
<body>

<h1>Your Short URLs</h1>
<h2>Sign-up and be Appart of the Tiny family</h2>

  <form action="/register" method="POST" style="margin:150px;">
      <label for="email">Email:</label>

        <input id="email" type="email" name="email" placeholder="www." style="width: 300px">
      <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Word" style="width: 300px">

      <input type="submit" value="Submit">

  </form>
  <p> TINY RICKKKKKKK </p>

</body>
</html>